<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Archetype Created Web Application</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
   <servlet>
       <servlet-name>RegistrationLegalCustomer</servlet-name>
       <servlet-class>presentation.LegalCustomerServlet</servlet-class>
   </servlet>
    <servlet>
        <servlet-name>RegistrationRealCustomerServlet</servlet-name>
        <servlet-class>presentation.RealCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveLoanTypeServlet</servlet-name>
        <servlet-class>presentation.LoanTypeAndLoanFileServlet</servlet-class>
    </servlet>
    <servlet>
    <servlet-name>SaveLoanFileServlet</servlet-name>
    <servlet-class>presentation.LoanTypeAndLoanFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveRealCustomerServlet</servlet-name>
        <servlet-class>presentation.RealCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHandlerLegalCustomer</servlet-name>
        <servlet-class>presentation.LegalCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHandlerRealCustomer</servlet-name>
        <servlet-class>presentation.RealCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrantConditionsServlet</servlet-name>
        <servlet-class>presentation.GrantConditionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchHandlerRealCustomer</servlet-name>
        <url-pattern>/SearchHandlerRealCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHandlerLegalCustomer</servlet-name>
        <url-pattern>/SearchHandlerLegalCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationLegalCustomer</servlet-name>
        <url-pattern>/RegistrationLegalCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationRealCustomerServlet</servlet-name>
        <url-pattern>/RegistrationRealCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveLoanTypeServlet</servlet-name>
        <url-pattern>/SaveLoanTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveLoanFileServlet</servlet-name>
        <url-pattern>/SaveLoanFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveRealCustomerServlet</servlet-name>
        <url-pattern>/RetrieveRealCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrantConditionsServlet</servlet-name>
        <url-pattern>/GrantConditionsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteLegalCustomer</servlet-name>
        <servlet-class>presentation.LegalCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteLegalCustomer</servlet-name>
        <url-pattern>/DeleteLegalCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteRealCustomer</servlet-name>
        <servlet-class>presentation.RealCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteRealCustomer</servlet-name>
        <url-pattern>/DeleteRealCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModificationLegalCustomer</servlet-name>
        <servlet-class>presentation.LegalCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificationLegalCustomer</servlet-name>
        <url-pattern>/ModificationLegalCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModificationRealCustomer</servlet-name>
        <servlet-class>presentation.RealCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificationRealCustomer</servlet-name>
        <url-pattern>/ModificationRealCustomer</url-pattern>
    </servlet-mapping>

</web-app>

